include ../form/form

.slide: .slide__wrapper.c
  .slide__content
    h1.slide__title Оспаривание#[br]кадастровой стоимости
    h2.slide__subtitle снижаем кадастровую стоимость#[br]коммерческой недвижимости
    .slide__cta
      p.slide__text
        | Рассчитать экономию#[br]
        | бесплатно и получить#[br]
        | подробную консультацию
  #form.form
    form(action='sendForm.php')
      input(type='hidden' name='form' value='calc')
      +input('Кадастровый номер*')(name='number')
      +input('Имя*')(name='name')
      +input('Телефон*')(type='tel' name='phone')
      +input('E-mail*')(name='email')
      input.input__submit(type='submit' value='Рассчитать бесплатно')
