mixin input(placeholder, search, select, textarea)
  - var className = 'input' + (search ? ' input--search' : '') + (select ? ' input--select' : '') + (!placeholder ? ' input--nolabel' : '') + (textarea ? ' input--textarea' : '')
  div(class=className)
    input.input__input(value='' placeholder=placeholder)&attributes(attributes)
    .input__error