mixin input(placeholder, search, select, textarea)
  - var className = 'input' + (search ? ' input--search' : '') + (select ? ' input--select' : '') + (!placeholder ? ' input--nolabel' : '') + (textarea ? ' input--textarea' : '')
  div(class=className)
    input.input__input(value='' placeholder=placeholder)&attributes(attributes)
    .input__error

mixin form(id)
  .form(id=id)
    form
      +input('Кадастровый номер*')()
      +input('Имя*')()
      +input('Телефон*')()
      +input('E-mail*')()
      input.input__submit(type='submit' value='Рассчитать бесплатно')