@font-face {
  font-family: 'Franklin Gothic Demi Cond';
  src: url('fonts/FranklinGothic-DemiCond.eot');
  src: url('fonts/FranklinGothic-DemiCond.eot?#iefix') format('embedded-opentype'),
          url('fonts/FranklinGothic-DemiCond.woff2') format('woff2'),
          url('fonts/FranklinGothic-DemiCond.woff') format('woff'),
          url('fonts/FranklinGothic-DemiCond.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Carefree Cyrillic';
  src: url('fonts/CarefreeCyrillic.eot');
  src: url('fonts/CarefreeCyrillic.eot?#iefix') format('embedded-opentype'),
          url('fonts/CarefreeCyrillic.woff2') format('woff2'),
          url('fonts/CarefreeCyrillic.woff') format('woff'),
          url('fonts/CarefreeCyrillic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
