.bullets.c
  .bullets__item
    .bullets__text
      |выиграли более#[br]
      b 100 дел
  .bullets__item
    .bullets__text
      |снизили кадастровую#[br]
      |стоимость более чем на#[br]
      b 100 млрд руб.

  .bullets__item
    .bullets__text
      |сэкономили нашим#[br]
      |клиентам более#[br]
      b 1 млрд руб.

  .bullets__item
    .bullets__text
      |Средний процент#[br]
      |снижения#[br]
      b ___ %
