header.header.c#header
  .header__logo
    img.header__img(width="100" height="83" src='img/logo.svg')
    .header__info Оценочная компания №1#[br](по версии RAEX)
  .header__contacts
    a.header__phone(href='tel:74957973031') +7 495 797 30 31
    a.header__email(href='mailto:kadastr@srgroup.ru') kadastr@srgroup.ru
