footer.footer
  .footer__disclaimer
    |Процедура оспаривания кадастровой стоимости проводится в соответствии с#[br]
    |Федеральным законом от 29.07.1998 г. № 135-ФЗ «Об оценочной деятельности в Российской Федерации».
  .footer__container
    .w.footer__links
      .footer__text Все права защищены, 2019
      a.footer__link.popup__opener(href='#polytic') Политика конфеденциальности
      a.footer__link.popup__opener(href='#agreement') Пользовательское соглашение