extends pug/_layout
include modules/form/form

block body
  include modules/header/header
  include modules/slide/slide
  include modules/action/action
  include modules/bullets/bullets
  include modules/footer/footer

  div.hidden
    .form#form
      form
        +input('Имя*')()
        +input('E-mail*')()
        input.input__submit(type='submit' value='Запросить документы')
    .modal#polytic
      h2 Политика конфеденциальности
    .modal#agreement
      h2 Пользовательское соглашение
    .modal#success
      .modal__title Спасибо!
      .modal__text В течение 2 рабочих дней вы получите расчет на электронную почту.
    //include modules/popup/popup
