extends pug/_layout
include modules/form/form

block body
  include modules/header/header
  include modules/slide/slide
  include modules/action/action
  include modules/bullets/bullets
  include modules/footer/footer

  div.hidden
    #request
      .form
        form(action='sendForm.php')
          input(type='hidden' name='form' value='request')
          +input('Имя*')(name='name')
          +input('E-mail*')(name='email')
          input.input__submit(type='submit' value='Запросить документы')
    .modal#polytic
      h2 Политика конфеденциальности
    .modal#agreement
      h2 Пользовательское соглашение
    .modal#success-form
      .modal__title Спасибо!
      .modal__text В течение 2 рабочих дней вы получите расчет на электронную почту.
    .modal#success-request
      .modal__title Спасибо!
      .modal__text Документы направлены вам на электронную почту.
    //include modules/popup/popup
