/*!!
 * Theme Name: YP
 */

@import "destyle.css/destyle.css"
@import "magnific-popup/dist/magnific-popup.css";
//@import "baron/baron.css";
//@import "bootstrap-datepicker/dist/css/bootstrap-datepicker.standalone.css";
//@import "suggestions-jquery/dist/css/suggestions.css";
//@import "selectize/dist/css/selectize.css";

@import "stylus/_fonts.styl";
@import "stylus/_vars.styl";
@import "stylus/_mixins.styl";
@import "stylus/_grid.styl";

html
  font-family: 'Open Sans', sans-serif;
  min-height: 100%

.hidden
  display: none

.screen-reader-response
  display: none

.wpcf7-not-valid-tip
  position: absolute
  font-size: 14px
  color: red
  top: 100%
  margin-top: 4px

.wpcf7-response-output
  font-size: 15px
  margin-top: 8px
  text-align: center
  color: red

  &.wpcf7-mail-sent-ok
    color: $green

@import "modules/header/header.styl"
@import "modules/slide/slide.styl"
@import "modules/form/form.styl"
@import "modules/action/action.styl"
@import "modules/bullets/bullets.styl"
@import "modules/footer/footer.styl"
@import "modules/popup/popup.styl"
//@import "modules/catalog/catalog.styl"
//@import "modules/info/info.styl"
//@import "modules/bullets/bullets.styl"
//@import "modules/delivery/delivery.styl"
//@import "modules/faq/faq.styl"
//@import "modules/outpost/outpost.styl"
//@import "modules/footer/footer.styl"
//@import "modules/popup/popup.styl"
//@import "modules/popup/input.styl"
